[Unit]
Description=My suspend script

After=sleep.target

[Service]
User=%i
Type=forking
Environment=DISPLAY=:1
ExecStart=/home/kai/dotfiles/bin/run-when-suspend.sh

[Install]
WantedBy=sleep.target
