snippet vgk "Viele Grüße, Kai"
Viele Grüße,

Kai

endsnippet

snippet vgke "Viele Grüße, Kai Eckert"
Viele Grüße,

Kai Eckert

endsnippet

snippet ck "Cheers, Kai"
Cheers,

Kai

endsnippet

snippet krke "Kind regards, Kai Eckert"
Kind regards,

Kai Eckert

endsnippet
