snippet call "Call"
### Call `date --iso-8601` `date +"%H:%M"`
- Participants: $1

- 

endsnippet

snippet meeting "Meeting"
### Meeting `date --iso-8601` `date +"%H:%M"`
- Participants: $1
- Location: $2

- 

endsnippet

snippet d "Date"
`date --iso-8601`
endsnippet
	
snippet t "Time"
`date +"%H:%M"`
endsnippet
	
snippet todo "Todo"
* [ ] $1
endsnippet
